name: Terraform Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Install Terraform properly
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      # Set AWS credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      # Terraform Init
      - name: Terraform Init
        working-directory: ./Terraform
        run: terraform init

      # Terraform Validate
      - name: Terraform Validate
        working-directory: ./Terraform
        run: terraform validate

      # Terraform Plan
      - name: Terraform Plan
        working-directory: ./Terraform
        run: terraform plan -out=tfplan

      # Terraform Apply
      - name: Terraform Apply
        working-directory: ./Terraform
        run: terraform apply -auto-approve tfplan
