name: CD - Terraform Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      # 3️⃣ Configure AWS Credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      # 4️⃣ Terraform Init
      - name: Terraform Init
        working-directory: ./Terraform
        run: terraform init

      # 5️⃣ Terraform Validate
      - name: Terraform Validate
        working-directory: ./Terraform
        run: terraform validate

      # 6️⃣ Terraform Plan using latest image
      - name: Terraform Plan
        working-directory: ./Terraform
        run: |
          terraform plan \
            -var="image_tag=latest" \
            -var="ecr_repo=${{ secrets.ECR_REPO }}" \
            -var="key_name=khaleel-aws-key" \
            -var="instance_type=t3.micro" \
            -out=tfplan

      # 7️⃣ Terraform Apply
      - name: Terraform Apply
        working-directory: ./Terraform
        run: terraform apply -auto-approve tfplan
